*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'Young Serif';
  src: url('assets/fonts/young-serif/YoungSerif.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/Outfit.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-display: swap;
}

:root {
  --rose-800:   #7A284E;
  --rose-50:    #FFF7FB;
  --stone-900:  #312E2C;
  --stone-600:  #5F564D;
  --stone-150:  #E3DDD7;
  --stone-100:  #F3E5D7;
  --brown-800:  #854632;
  --white:      #FFFFFF;

  --fs-2xlg: 36px;
  --fs-xlg: 28px;
  --fs-lrg: 20px;
  --fs-reg: 1rem;

  --fw-bold:      900;
  --fw-semibold:  600;
  --fw-reg:       400;

  /*--space-600: 48px;*/
  --space-500: 2.5rem;
  --space-400: 2rem;
  --space-300: 1.5rem;
}

body {
  background-color: var(--stone-100);
}

/* .recipe {
  display: flex;
  flex-direction: column;
} */

.intro__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  background-color: var(--white);
  padding: var(--space-500) var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  font-family: 'Outfit';
  font-size: var(--fs-reg);
  font-weight: var(--fw-reg);
  color: var(--stone-600);
  line-height: 1.5;
}

h1, h2 {
  font-family: "Young Serif";
}

span {
  font-weight: var(--fw-bold);
}

.intro__title {
  margin-bottom: var(--space-300);
  font-size: var(--fs-2xlg);
  font-weight: var(--fw-reg);
  color: var(--stone-900);
  line-height: 1;
}

.recipe__preparation {
  background-color: var(--rose-50);
  border-radius: 0.75rem;
  padding: var(--space-300);
}

.preparation__title {
  margin-bottom: 1rem;
  color: var(--rose-800);
  font-size: var(--fs-lrg);
  font-weight: var(--fw-semibold);
  line-height: 1;
}

.preparation__list li::marker {
  color: var(--rose-800);
}

h2 {
  font-size: var(--fs-xlg);
  color: var(--brown-800);
  line-height: 1;
  margin-bottom: var(--space-300);
}

.ingredients__list li::marker,
.instructions__list li::marker {
  color: var(--brown-800);
}

.instructions__list li::marker {
  font-weight: var(--fw-bold);
}
